meetup/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
meetup/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
meetup/ios/Runner.xcworkspace/contents.xcworkspacedata
meetup/android/.settings/org.eclipse.buildship.core.prefs
meetup/android/app/.settings/org.eclipse.buildship.core.prefs
